#back_button {
  margin-bottom: 10px;
}
#r_value_form {
  width: 100%;
  height: 100%;
}
.form_wrapper{
  display: flex;
  flex-wrap: wrap;
}
.field_wrapper{
  flex-grow: 1;
  text-align: center;
}
.selected_value{
  margin: auto;
}
