#form_table{
  background-color: #ddd;
  width: 100%;
  height: auto;
}
#footer{
  background-color: #ccc;
  height: auto;
}
.app_block{
  flex: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
